/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: rgba(30,30,30,1);
    font-family: Consolas, monospace;
    border: 1px solid rgba(43, 145, 175, .4) !important;
    margin-bottom: 0;
    
}

.pln {
    color: rgba(220,220,220,1);
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(43, 145, 175, 1);
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: rgba(30,30,30,1);
    list-style-type: decimal;
    border-left: 1px solid rgba(43, 145, 175, 1);
}

@media screen {

  /* string content */

  .str {
    color: #B1D631;
  }

  /* keyword */

  .kwd {
    color: rgba(86, 156, 214, 1);
  }

  /* comment */

  .com {
    color: rgba(87, 166, 74, 1);
  }

  /* type name */

  .typ {
    color: rgba(78, 201, 176, 1);
  }

  /* literal value */

  .lit {
    color: #9FD3E6;
  }

  /* punctuation */

  .pun {
    color: #EEEEEE;
  }

  /* lisp open bracket */

  .opn {
    color: #EEEEEE;
  }

  /* lisp close bracket */

  .clo {
    color: #EEEEEE;
  }

  /* markup tag name */

  .tag {
    color: #EEEEEE;
  }

  /* markup attribute name */

  .atn {
    color: #B1D631;
  }

  /* markup attribute value */

  .atv {
    color: #BBFFAA;
  }

  /* declaration */

  .dec {
    color: #EEEEEE;
  }

  /* variable name */

  .var {
    color: rgba(200,200,200,1);
  }

  /* function name */

  .fun {
    color: #9FD3E6;
  }
}
