
@keyframes walk-right {
    0% { background-position: 0px 0px; }
    24.99% { background-position: 0px 0px; }
    25% { background-position: -288px 0px; }
    49.99% {background-position: -288px 0px;}
    50% { background-position: 0px 0px; }
    74.99% { background-position: 0px 0px; }
    75% {background-position: 288px 0px; }
    100% {background-position: 288px 0px; }
}

@keyframes walk-right-current-frame{
    0% { content: '3';}
    24.99% { content: '0';}
    49.99% { content: '1';}
    74.99% { content: '2';}
    100% { content: '3';}
}

@keyframes walk-x-animation{
    0% { content: '0';}
    24.99% { content: '0';}
    49.99% { content: '96';}
    74.99% { content: '192';}
    100% { content: '284';}
}

@keyframes walk-right-highlight{
    0% { margin-left: 0px; }
    24.99% { margin-left: 0px }
    25% { margin-left: 120px; }
    49.99% { margin-left: 120px; }
    50% { margin-left: 240px; }
    74.99% { margin-left: 240px; }
    75% {margin-left: 360px; }
    100% { margin-left: 360px; }    
}

.background{
    top: 0%;
    height: 2000px !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    position: fixed;
}

#aberrant-background{
    background-image: url(/images/aberrant_project_page_bg.PNG);
}

#redrockfarmer-background{
        background-image: url(/images/red-rock-farmer-portrait.PNG);
}

#dewetron-background{
    background-image: url(/images/deewtron-project-page-bg.png);
}

#attollo-background{
    background-image: url(/images/attollo-wallpaper.jpg);
}

#fct-background{
    background-image: url(/images/FirstClassTroubleBG.JPG);
}


#container{
    position: relative;
    transition: .4s;
    margin-top: 90px;
    margin-bottom: 40px;
    border-radius: 15px;
    transition: .4s;
    background-color: rgba(0,0,0,.7);
}

.content-wrapper{
    padding-bottom: 5px;
}

.header {
    color: white;        
    background-color: rgba(0,0,0,.4);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
}

#title {
    font-family: 'Raleway';
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}

.overview-wrapper tr {
    vertical-align: middle;
        font-size: 12px;
}

.overview-wrapper table {
    margin: auto;
}

.overview-wrapper td {
    font-family: 'Montserrat';
    display: table-cell;
    padding: 10px 15px;
}

.overview-wrapper b {
    font-family: 'Baloo 2';
    font-size: 14px;
}

.overview-wrapper td img {
    width: 10px;
    margin-right: 10px;
}

.project-content-container {
    margin: 25px 5%;
}

.content-wrapper {
    margin-bottom: 25px;
}

.project-description {
    display: block;
    color: white;
    margin: 0 8px 20px 8px;
}

#accordion {
    width: 102%;
    margin-left: -1%;
}

.collapse-button, .collapse-button:focus {
    transition: .5s;
    display: block;
    width: 100%;
    height: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 15px;
    border-radius: 4px;
    text-align: left;
    font-family: 'Baloo 2';
    outline: none;
    background-color: #c0a160;
    color: #18121e;
    border: none;
}

.collapse-button:focus {
    outline: none;
}

.collapse-button.collapsed:focus {
    outline: none;
}

.collapse-button.collapsed:hover, 
.collapse-button:active {
    background-color: #c0a160;
    color: 18121e;
    outline: none;
}

.collapse-button.collapsed,
.collapse-button:hover,
.collapse-button.collapsed:active
{
    background-color: #eac67a;
    color: #233237;
}

.collapse-button-content {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Baloo 2';
    font-weight: 600;
}

.dropdown-icon {
    width: 17px;
    float: right;
    transform: rotate(90deg);
    transition: .2s transform;
    opacity: .3;
    margin-top:2px;
}

.dropdown-icon:active {
    color: white;
}


.collapse-content {
    color: white;
    text-align:start;
    width: 97%;
    padding-right: 0px;
    padding-top: 0;
    margin-left: 3%;
}


.content video{
    width: 100% !important; 
    height: auto;
}

.content img{
    width:100%;
    height: auto;
}

btn:hover{
    border: none;
    outline: none;
}

btn:focus{
    border: none;
    outline: none;
}

btn:active{
    border:none;
    outline:none;
}

#redrock-walk-right-animation{
    height: 288px;
    transition:0s;

} 

.redrock-walk-right-frame{     
    background-image: url(/images/redrockfarmer-walk-right.png);
    background-size: cover;
    background-position: 288px 0px; 
    width: 288px;
    height: 288px;
    position: absolute;
    animation: walk-right;
    transition: .3s;
}

.walk-right-spritesheet{
    width: 480px;
    transition: .3s;
    margin-top:30px;
    margin-bottom: 30px;
}

.walk-right-spritesheet img{
    width: 480px;
}

#frame-highlight-container{
    width: 480px;
    margin-top: -150px;
    transition: .3s; 
    margin-bottom: 30px;
}

#frame-highlight{
    width: 120px;
    height: 120px;
    animation: walk-right-highlight;
}

#walk-animation-currentframe:before{  
    content: '3';
    animation: walk-right-current-frame;
}


#walk-anim-x:before{
    content: '284';
    animation: walk-x-animation;

}
#walk-anim-currentframe-container{
    text-align: center;
}

#frame-highlight, .redrock-walk-right-frame, 
#walk-animation-currentframe:before, #walk-anim-x:before{
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (max-width: 991px){
    .redrock-walk-right-frame{
        margin-left: 170px;
    } 
    .walk-right-spritesheet, #frame-highlight-container{
        margin-left: 75px;
    }
}

@media (max-width: 750px){
    .redrock-walk-right-frame, .walk-right-spritesheet, #frame-highlight-container {
        margin-left: 0px;
    }
    #walk-anim-framesize {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .redrock-walk-right-frame{
        margin-left: 275px;
    } 
    .walk-right-spritesheet, #frame-highlight-container{
        margin-left: 170px;
    }
}
@media (min-width: 1200px) {
    .redrock-walk-right-frame{
        margin-left: 357px;
    } 
    
    .walk-right-spritesheet, #frame-highlight{
        margin-left: 258px;
    }
}

